<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/804927696f06d877f3f1803e/w/5b75db19292e71970de02dee/e/5e56598923b6e0d9c566370f -->
<robot name="microduck">
  <!-- Link trunk_base -->
  <link name="trunk_base">
    <inertial>
      <origin xyz="-0.0239414 3.20136e-06 -0.00524125" rpy="0 0 0"/>
      <mass value="0.171688"/>
      <inertia ixx="0.000118155" ixy="1.2845e-08" ixz="-3.29895e-05" iyy="0.000137494" iyz="-2.88e-08" izz="8.39968e-05"/>
    </inertial>
    <!-- Part xl330 -->
    <visual>
      <origin xyz="0.006 -0.0175 0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.006 -0.0175 0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_2 -->
    <visual>
      <origin xyz="0.006 0.0175 0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_2_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.006 0.0175 0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part battery_holder -->
    <visual>
      <origin xyz="0.0112 -0 0.0124" rpy="0 0 -0"/>
      <geometry>
        <mesh filename="package://assets/battery_holder.stl"/>
      </geometry>
      <material name="battery_holder_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0112 -0 0.0124" rpy="0 0 -0"/>
      <geometry>
        <mesh filename="package://assets/battery_holder.stl"/>
      </geometry>
    </collision>
    <!-- Part trunk_base -->
    <visual>
      <origin xyz="0.004 0 -0.0165" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/trunk_base.stl"/>
      </geometry>
      <material name="trunk_base_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.004 0 -0.0165" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/trunk_base.stl"/>
      </geometry>
    </collision>
    <!-- Part neck_support -->
    <visual>
      <origin xyz="0.004 0 -0.0165" rpy="-0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/neck_support.stl"/>
      </geometry>
      <material name="neck_support_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.004 0 -0.0165" rpy="-0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/neck_support.stl"/>
      </geometry>
    </collision>
    <!-- Part seeed_bearing__configuration__22x16x4 -->
    <visual>
      <origin xyz="0.006 0.0175 -0.004" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.006 0.0175 -0.004" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part seeed_bearing__configuration__22x16x4_2 -->
    <visual>
      <origin xyz="0.006 -0.0175 -0.004" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_2_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.006 -0.0175 -0.004" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part np_f970 -->
    <visual>
      <origin xyz="-0.03505 -0 -0.01405" rpy="3.14159 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/np_f970.stl"/>
      </geometry>
      <material name="np_f970_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.03505 -0 -0.01405" rpy="3.14159 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/np_f970.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame torso_camera (dummy link + fixed joint) -->
  <link name="torso_camera">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="torso_camera_frame" type="fixed">
    <origin xyz="0.017 0 0.0005" rpy="-0 0 -0"/>
    <parent link="trunk_base"/>
    <child link="torso_camera"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame imu (dummy link + fixed joint) -->
  <link name="imu">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="imu_frame" type="fixed">
    <origin xyz="-0.0339928 0.0156227 0.03095" rpy="0 0 -0"/>
    <parent link="trunk_base"/>
    <child link="imu"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link seeed_bearing__configuration__22x16x4 -->
  <link name="seeed_bearing__configuration__22x16x4">
    <inertial>
      <origin xyz="-7.7e-11 0.000956788 0.0188951" rpy="0 0 0"/>
      <mass value="0.0229727"/>
      <inertia ixx="4.16063e-06" ixy="0" ixz="-0" iyy="3.38857e-06" iyz="-5.9927e-08" izz="2.30634e-06"/>
    </inertial>
    <!-- Part seeed_bearing__configuration__22x16x4_3 -->
    <visual>
      <origin xyz="0 0.0123 0.01445" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_3_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0123 0.01445" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part yaw2roll -->
    <visual>
      <origin xyz="-0.0175 -0.002 0.01445" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/yaw2roll.stl"/>
      </geometry>
      <material name="yaw2roll_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 -0.002 0.01445" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/yaw2roll.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing_roll -->
    <visual>
      <origin xyz="-0.0175 -0.0022 0.01445" rpy="3.14159 0 0"/>
      <geometry>
        <mesh filename="package://assets/bearing_roll.stl"/>
      </geometry>
      <material name="bearing_roll_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 -0.0022 0.01445" rpy="3.14159 0 0"/>
      <geometry>
        <mesh filename="package://assets/bearing_roll.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_3 -->
    <visual>
      <origin xyz="-0 0 0.01445" rpy="-3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_3_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.01445" rpy="-3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link seeed_bearing__configuration__22x16x4_2 -->
  <link name="seeed_bearing__configuration__22x16x4_2">
    <inertial>
      <origin xyz="0.014815 1.6482e-08 -0.00634992" rpy="0 0 0"/>
      <mass value="0.00618934"/>
      <inertia ixx="8.60626e-07" ixy="1e-12" ixz="3.89882e-07" iyy="1.15753e-06" iyz="-1e-12" izz="6.51588e-07"/>
    </inertial>
    <!-- Part seeed_bearing__configuration__22x16x4_4 -->
    <visual>
      <origin xyz="0.025 -0 -0.01655" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_4_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.025 -0 -0.01655" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part hip_l -->
    <visual>
      <origin xyz="-0.0175 0 -0.01655" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://assets/hip_l.stl"/>
      </geometry>
      <material name="hip_l_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 0 -0.01655" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://assets/hip_l.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link upper_leg_rigidity_plate -->
  <link name="upper_leg_rigidity_plate">
    <inertial>
      <origin xyz="-0.00738703 -0.0224272 0.0144118" rpy="0 0 0"/>
      <mass value="0.042576"/>
      <inertia ixx="1.45046e-05" ixy="-4.29566e-06" ixz="-2.5193e-07" iyy="8.55632e-06" iyz="-3.37284e-07" izz="1.71806e-05"/>
    </inertial>
    <!-- Part upper_leg_rigidity_plate -->
    <visual>
      <origin xyz="0 0 -0.0405" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_leg_rigidity_plate.stl"/>
      </geometry>
      <material name="upper_leg_rigidity_plate_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0405" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_leg_rigidity_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_4 -->
    <visual>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_4_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part seeed_bearing__configuration__22x16x4_5 -->
    <visual>
      <origin xyz="-0.022 -0.0357771 0.002" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_5_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.022 -0.0357771 0.002" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part left_upper_leg -->
    <visual>
      <origin xyz="0 0 -0.0405" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/left_upper_leg.stl"/>
      </geometry>
      <material name="left_upper_leg_material">
        <color rgba="0.866667 0.866667 0.866667 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0405" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/left_upper_leg.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_5 -->
    <visual>
      <origin xyz="-0.022 -0.0357771 0.0145" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_5_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.022 -0.0357771 0.0145" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link leg -->
  <link name="leg">
    <inertial>
      <origin xyz="1.52e-10 -0.0318937 -0.00758505" rpy="0 0 0"/>
      <mass value="0.0215844"/>
      <inertia ixx="5.25054e-06" ixy="-1e-12" ixz="-0" iyy="2.15507e-06" iyz="-7.64996e-07" izz="4.33924e-06"/>
    </inertial>
    <!-- Part leg -->
    <visual>
      <origin xyz="0.022 -0.0357771 0.04045" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/leg.stl"/>
      </geometry>
      <material name="leg_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022 -0.0357771 0.04045" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/leg.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_6 -->
    <visual>
      <origin xyz="0 -0.042 -0.00955" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_6_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.042 -0.00955" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link seeed_bearing__configuration_default -->
  <link name="seeed_bearing__configuration_default">
    <inertial>
      <origin xyz="-0.0065951 -0.0141236 -0.0159352" rpy="0 0 0"/>
      <mass value="0.01797"/>
      <inertia ixx="3.51758e-06" ixy="-2.25925e-07" ixz="9.1481e-08" iyy="6.77701e-06" iyz="1.30351e-07" izz="4.98978e-06"/>
    </inertial>
    <!-- Part left_foot_2 -->
    <visual>
      <origin xyz="-0.022 0.00622291 -0.0645" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/left_foot.stl"/>
      </geometry>
      <material name="left_foot_2_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.022 0.00622291 -0.0645" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/left_foot.stl"/>
      </geometry>
    </collision>
    <!-- Part seeed_bearing__configuration_default -->
    <visual>
      <origin xyz="0 0 -0.032" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration_default.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration_default_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.032" rpy="-0 0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration_default.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame left_foot (dummy link + fixed joint) -->
  <link name="left_foot">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="left_foot_frame" type="fixed">
    <origin xyz="-0.007 -0.0238706 -0.013797" rpy="1.65806 0 -3.14159"/>
    <parent link="seeed_bearing__configuration_default"/>
    <child link="left_foot"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Joint from leg to seeed_bearing__configuration_default -->
  <joint name="left_ankle" type="revolute">
    <origin xyz="0 -0.042 -0.02405" rpy="-3.14159 -0 -3.14159"/>
    <parent link="leg"/>
    <child link="seeed_bearing__configuration_default"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from upper_leg_rigidity_plate to leg -->
  <joint name="left_knee" type="revolute">
    <origin xyz="-0.022 -0.0357771 0" rpy="-3.14159 0 1.5708"/>
    <parent link="upper_leg_rigidity_plate"/>
    <child link="leg"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from seeed_bearing__configuration__22x16x4_2 to upper_leg_rigidity_plate -->
  <joint name="left_hip_pitch" type="revolute">
    <origin xyz="0.02295 0 -0.01655" rpy="1.5708 -0 1.5708"/>
    <parent link="seeed_bearing__configuration__22x16x4_2"/>
    <child link="upper_leg_rigidity_plate"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from seeed_bearing__configuration__22x16x4 to seeed_bearing__configuration__22x16x4_2 -->
  <joint name="left_hip_roll" type="revolute">
    <origin xyz="-0 0.0145 0.01445" rpy="-1.5708 0 -0"/>
    <parent link="seeed_bearing__configuration__22x16x4"/>
    <child link="seeed_bearing__configuration__22x16x4_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.523599"/>
  </joint>
  <!-- Joint from trunk_base to seeed_bearing__configuration__22x16x4 -->
  <joint name="left_hip_yaw" type="revolute">
    <origin xyz="0.006 0.0175 -0.002" rpy="-3.14159 -0 1.5708"/>
    <parent link="trunk_base"/>
    <child link="seeed_bearing__configuration__22x16x4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.261799" upper="0.523599"/>
  </joint>
  <!-- Link neck -->
  <link name="neck">
    <inertial>
      <origin xyz="0 -0.0275 0.0141702" rpy="0 0 0"/>
      <mass value="0.0372622"/>
      <inertia ixx="2.08599e-05" ixy="0" ixz="-0" iyy="3.20691e-06" iyz="0" izz="1.98862e-05"/>
    </inertial>
    <!-- Part neck -->
    <visual>
      <origin xyz="0.022 0.05 0.003" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/neck.stl"/>
      </geometry>
      <material name="neck_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022 0.05 0.003" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/neck.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_7 -->
    <visual>
      <origin xyz="-0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_7_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_8 -->
    <visual>
      <origin xyz="0 -0.055 0.0145" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_8_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.055 0.0145" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part neck_2 -->
    <visual>
      <origin xyz="0.022 0.05 0.028" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/neck.stl"/>
      </geometry>
      <material name="neck_2_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022 0.05 0.028" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/neck.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link pitch_to_yaw -->
  <link name="pitch_to_yaw">
    <inertial>
      <origin xyz="-0 0.0117206 -0.0146" rpy="0 0 0"/>
      <mass value="0.00471657"/>
      <inertia ixx="1.09464e-06" ixy="-0" ixz="-0" iyy="9.49827e-07" iyz="0" izz="4.21502e-07"/>
    </inertial>
    <!-- Part pitch_to_yaw -->
    <visual>
      <origin xyz="-0.025 -0.07 -0.0146" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/pitch_to_yaw.stl"/>
      </geometry>
      <material name="pitch_to_yaw_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.025 -0.07 -0.0146" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/pitch_to_yaw.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link yaw_roll -->
  <link name="yaw_roll">
    <inertial>
      <origin xyz="-0.000643036 -0.00659657 0.0160446" rpy="0 0 0"/>
      <mass value="0.0224354"/>
      <inertia ixx="3.70188e-06" ixy="9.632e-08" ixz="-3.647e-09" iyy="2.32489e-06" iyz="9.642e-09" izz="3.15707e-06"/>
    </inertial>
    <!-- Part yaw_roll -->
    <visual>
      <origin xyz="-0.025 0 -0.0905" rpy="0 0 -0"/>
      <geometry>
        <mesh filename="package://assets/yaw_roll.stl"/>
      </geometry>
      <material name="yaw_roll_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.025 0 -0.0905" rpy="0 0 -0"/>
      <geometry>
        <mesh filename="package://assets/yaw_roll.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_9 -->
    <visual>
      <origin xyz="-0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_9_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link head_plate -->
  <link name="head_plate">
    <inertial>
      <origin xyz="0.0109046 -0.000463796 -0.0225512" rpy="0 0 0"/>
      <mass value="0.163005"/>
      <inertia ixx="0.000303073" ixy="-9.12482e-07" ixz="-1.43445e-05" iyy="0.000275154" iyz="4.10995e-06" izz="0.00012816"/>
    </inertial>
    <!-- Part noenoeil -->
    <visual>
      <origin xyz="-0.1025 -0 0.0121" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/noenoeil.stl"/>
      </geometry>
      <material name="noenoeil_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 -0 0.0121" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/noenoeil.stl"/>
      </geometry>
    </collision>
    <!-- Part camshaft -->
    <visual>
      <origin xyz="-0.102387 0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/camshaft.stl"/>
      </geometry>
      <material name="camshaft_material">
        <color rgba="0.866667 0.321569 0.156863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.102387 0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/camshaft.stl"/>
      </geometry>
    </collision>
    <!-- Part pcb__raspberry_pi_zero_2_w -->
    <visual>
      <origin xyz="0.00871 -0 -0.0573963" rpy="-0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pcb__raspberry_pi_zero_2_w.stl"/>
      </geometry>
      <material name="pcb__raspberry_pi_zero_2_w_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00871 -0 -0.0573963" rpy="-0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/pcb__raspberry_pi_zero_2_w.stl"/>
      </geometry>
    </collision>
    <!-- Part cam_support -->
    <visual>
      <origin xyz="-0.1025 -0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/cam_support.stl"/>
      </geometry>
      <material name="cam_support_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 -0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/cam_support.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_10 -->
    <visual>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_10_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part head_shell -->
    <visual>
      <origin xyz="-0.1025 -0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_shell.stl"/>
      </geometry>
      <material name="head_shell_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 -0 0.012" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_shell.stl"/>
      </geometry>
    </collision>
    <!-- Part elec_rpi_robot_hat_pcb -->
    <visual>
      <origin xyz="0.00059 -0.029005 -0.0689013" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/elec_rpi_robot_hat_pcb.stl"/>
      </geometry>
      <material name="elec_rpi_robot_hat_pcb_material">
        <color rgba="0.313725 0.486275 0.411765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00059 -0.029005 -0.0689013" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/elec_rpi_robot_hat_pcb.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_11 -->
    <visual>
      <origin xyz="0.037805 0 0.000138898" rpy="-2.18166 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_11_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.037805 0 0.000138898" rpy="-2.18166 0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part head_plate -->
    <visual>
      <origin xyz="-0.1025 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_plate.stl"/>
      </geometry>
      <material name="head_plate_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part mouth_roof -->
    <visual>
      <origin xyz="-0.1025 0 0.013145" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/mouth_roof.stl"/>
      </geometry>
      <material name="mouth_roof_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 0 0.013145" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/mouth_roof.stl"/>
      </geometry>
    </collision>
    <!-- Part head_shell_cylinder_cut -->
    <visual>
      <origin xyz="-0.102764 -0 0.0121662" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_shell_cylinder_cut.stl"/>
      </geometry>
      <material name="head_shell_cylinder_cut_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.102764 -0 0.0121662" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/head_shell_cylinder_cut.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_cap -->
    <visual>
      <origin xyz="-0.1025 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_cap.stl"/>
      </geometry>
      <material name="motor_cap_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1025 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_cap.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame closing_1_2 (dummy link + fixed joint) -->
  <link name="closing_1_2">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="closing_1_2_frame" type="fixed">
    <origin xyz="-0.0065 0.0325 -0.0293963" rpy="-1.5708 1.5708 0"/>
    <parent link="head_plate"/>
    <child link="closing_1_2"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame closing_1_2_z (dummy link + fixed joint) -->
  <link name="closing_1_2_z">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="closing_1_2_z_frame" type="fixed">
    <origin xyz="-0.0065 0.1325 -0.0293963" rpy="-1.5708 1.5708 0"/>
    <parent link="head_plate"/>
    <child link="closing_1_2_z"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame head_camera (dummy link + fixed joint) -->
  <link name="head_camera">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="head_camera_frame" type="fixed">
    <origin xyz="0.01 -0 -0.0843963" rpy="-0 1.5708 0"/>
    <parent link="head_plate"/>
    <child link="head_camera"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link rod -->
  <link name="rod">
    <inertial>
      <origin xyz="0.0152115 -0.00358242 -0.00578504" rpy="0 0 0"/>
      <mass value="0.00121392"/>
      <inertia ixx="1.7689e-08" ixy="2.7425e-08" ixz="2.2445e-08" iyy="1.2768e-07" iyz="-5.286e-09" izz="1.33047e-07"/>
    </inertial>
    <!-- Part rod -->
    <visual>
      <origin xyz="-0.00426967 -0.127368 0.0195" rpy="-1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
      <material name="rod_material">
        <color rgba="0.866667 0.321569 0.156863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00426967 -0.127368 0.0195" rpy="-1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link jaw -->
  <link name="jaw">
    <inertial>
      <origin xyz="0.0282835 0.0292403 -0.0239713" rpy="0 0 0"/>
      <mass value="0.02333"/>
      <inertia ixx="1.17193e-05" ixy="-1.07536e-06" ixz="7.57817e-07" iyy="1.8345e-05" iyz="5.52768e-07" izz="7.88061e-06"/>
    </inertial>
    <!-- Part jaw -->
    <visual>
      <origin xyz="-0.0349258 0.120148 -0.02525" rpy="1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/jaw.stl"/>
      </geometry>
      <material name="jaw_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0349258 0.120148 -0.02525" rpy="1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/jaw.stl"/>
      </geometry>
    </collision>
    <!-- Part mouth_tongue -->
    <visual>
      <origin xyz="-0.0349312 0.120148 -0.02525" rpy="1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/mouth_tongue.stl"/>
      </geometry>
      <material name="mouth_tongue_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0349312 0.120148 -0.02525" rpy="1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/mouth_tongue.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame closing_1_1 (dummy link + fixed joint) -->
  <link name="closing_1_1">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="closing_1_1_frame" type="fixed">
    <origin xyz="0.00647048 0.0241481 0.00725" rpy="-0 0 -0"/>
    <parent link="jaw"/>
    <child link="closing_1_1"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame closing_1_1_z (dummy link + fixed joint) -->
  <link name="closing_1_1_z">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="closing_1_1_z_frame" type="fixed">
    <origin xyz="0.00647048 0.0241481 0.10725" rpy="-0 0 -0"/>
    <parent link="jaw"/>
    <child link="closing_1_1_z"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame mouth_tip (dummy link + fixed joint) -->
  <link name="mouth_tip">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="mouth_tip_frame" type="fixed">
    <origin xyz="0.061364 0.0287114 -0.02525" rpy="1.5708 -0 0.0395241"/>
    <parent link="jaw"/>
    <child link="mouth_tip"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Joint from rod to jaw -->
  <joint name="passive_2" type="revolute">
    <origin xyz="0.0306561 -0.00721968 -0.00575" rpy="-3.14159 0 0.00511212"/>
    <parent link="rod"/>
    <child link="jaw"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from head_plate to rod -->
  <joint name="passive_1" type="revolute">
    <origin xyz="0.0249805 0.0195 0.00773033" rpy="-1.5708 1.56687 -3.14159"/>
    <parent link="head_plate"/>
    <child link="rod"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from yaw_roll to head_plate -->
  <joint name="head_roll" type="revolute">
    <origin xyz="-0.013 0 0.012" rpy="-0 -1.5708 0"/>
    <parent link="yaw_roll"/>
    <child link="head_plate"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.349066" upper="0.349066"/>
  </joint>
  <!-- Joint from pitch_to_yaw to yaw_roll -->
  <joint name="head_yaw" type="revolute">
    <origin xyz="-0 0.0205 -0.0146" rpy="-1.5708 0 -0"/>
    <parent link="pitch_to_yaw"/>
    <child link="yaw_roll"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from neck to pitch_to_yaw -->
  <joint name="head_pitch" type="revolute">
    <origin xyz="-0 -0.055 0.0291" rpy="-0 -0 -3.14159"/>
    <parent link="neck"/>
    <child link="pitch_to_yaw"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from trunk_base to neck -->
  <joint name="neck_pitch" type="revolute">
    <origin xyz="0.026 0.0145 0.0335" rpy="-1.5708 0 -3.14159"/>
    <parent link="trunk_base"/>
    <child link="neck"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Link xl330 -->
  <link name="xl330">
    <inertial>
      <origin xyz="-7.7e-11 0.000956788 0.0188951" rpy="0 0 0"/>
      <mass value="0.0229727"/>
      <inertia ixx="4.16063e-06" ixy="0" ixz="-0" iyy="3.38857e-06" iyz="-5.9927e-08" izz="2.30634e-06"/>
    </inertial>
    <!-- Part seeed_bearing__configuration__22x16x4_6 -->
    <visual>
      <origin xyz="0 0.0123 0.01445" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_6_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0123 0.01445" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part yaw2roll_2 -->
    <visual>
      <origin xyz="-0.0175 -0.002 0.01445" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/yaw2roll.stl"/>
      </geometry>
      <material name="yaw2roll_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 -0.002 0.01445" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/yaw2roll.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_12 -->
    <visual>
      <origin xyz="0 -0 0.01445" rpy="-3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_12_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 0.01445" rpy="-3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing_roll_2 -->
    <visual>
      <origin xyz="-0.0175 -0.0022 0.01445" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/bearing_roll.stl"/>
      </geometry>
      <material name="bearing_roll_2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 -0.0022 0.01445" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/bearing_roll.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link hip_l -->
  <link name="hip_l">
    <inertial>
      <origin xyz="0.014815 1.5909e-08 -0.00634992" rpy="0 0 0"/>
      <mass value="0.00618934"/>
      <inertia ixx="8.60626e-07" ixy="1e-12" ixz="3.89882e-07" iyy="1.15753e-06" iyz="-1e-12" izz="6.51588e-07"/>
    </inertial>
    <!-- Part seeed_bearing__configuration__22x16x4_7 -->
    <visual>
      <origin xyz="0.021 -0 -0.01655" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_7_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.021 -0 -0.01655" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part hip_l_2 -->
    <visual>
      <origin xyz="-0.0175 -0 -0.01655" rpy="-1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/hip_l.stl"/>
      </geometry>
      <material name="hip_l_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0175 -0 -0.01655" rpy="-1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/hip_l.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link xl330_2 -->
  <link name="xl330_2">
    <inertial>
      <origin xyz="0.00738703 -0.0224272 0.0148887" rpy="0 0 0"/>
      <mass value="0.042576"/>
      <inertia ixx="1.44588e-05" ixy="4.29566e-06" ixz="3.14398e-07" iyy="8.51046e-06" iyz="-2.40723e-07" izz="1.71806e-05"/>
    </inertial>
    <!-- Part seeed_bearing__configuration__22x16x4_8 -->
    <visual>
      <origin xyz="0.022 -0.0357771 -0.001" rpy="0 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration__22x16x4_8_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022 -0.0357771 -0.001" rpy="0 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration__22x16x4.stl"/>
      </geometry>
    </collision>
    <!-- Part right_upper_leg -->
    <visual>
      <origin xyz="-0 0 -0.0405" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/right_upper_leg.stl"/>
      </geometry>
      <material name="right_upper_leg_material">
        <color rgba="0.866667 0.866667 0.866667 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.0405" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/right_upper_leg.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_13 -->
    <visual>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_13_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0145" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part xl330_14 -->
    <visual>
      <origin xyz="0.022 -0.0357771 0.0145" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_14_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022 -0.0357771 0.0145" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part upper_leg_rigidity_plate_2 -->
    <visual>
      <origin xyz="0 0 0.0695" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_leg_rigidity_plate.stl"/>
      </geometry>
      <material name="upper_leg_rigidity_plate_2_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0695" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_leg_rigidity_plate.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link leg_2 -->
  <link name="leg_2">
    <inertial>
      <origin xyz="-1.52e-10 0.0318937 -0.00758505" rpy="0 0 0"/>
      <mass value="0.0215844"/>
      <inertia ixx="5.25054e-06" ixy="-1e-12" ixz="0" iyy="2.15507e-06" iyz="7.64996e-07" izz="4.33924e-06"/>
    </inertial>
    <!-- Part xl330_15 -->
    <visual>
      <origin xyz="-0 0.042 -0.00955" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
      <material name="xl330_15_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.042 -0.00955" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/xl330.stl"/>
      </geometry>
    </collision>
    <!-- Part leg_2 -->
    <visual>
      <origin xyz="-0.022 0.0357771 0.04045" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/leg.stl"/>
      </geometry>
      <material name="leg_2_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.022 0.0357771 0.04045" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/leg.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link right_foot_2 -->
  <link name="right_foot_2">
    <inertial>
      <origin xyz="-0.00659487 0.0141235 -0.0159349" rpy="0 0 0"/>
      <mass value="0.01797"/>
      <inertia ixx="3.51766e-06" ixy="2.25916e-07" ixz="9.1383e-08" iyy="6.77706e-06" iyz="-1.30356e-07" izz="4.98968e-06"/>
    </inertial>
    <!-- Part right_foot_2 -->
    <visual>
      <origin xyz="-0.022 -0.00622291 -0.0645" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/right_foot.stl"/>
      </geometry>
      <material name="right_foot_2_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.022 -0.00622291 -0.0645" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/right_foot.stl"/>
      </geometry>
    </collision>
    <!-- Part seeed_bearing__configuration_default_2 -->
    <visual>
      <origin xyz="0 0 -0.029" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration_default.stl"/>
      </geometry>
      <material name="seeed_bearing__configuration_default_2_material">
        <color rgba="0.713725 0.760784 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.029" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/seeed_bearing__configuration_default.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame right_foot (dummy link + fixed joint) -->
  <link name="right_foot">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="right_foot_frame" type="fixed">
    <origin xyz="-0.007 0.0238706 -0.013797" rpy="-1.65806 -0 3.14159"/>
    <parent link="right_foot_2"/>
    <child link="right_foot"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Joint from leg_2 to right_foot_2 -->
  <joint name="right_ankle" type="revolute">
    <origin xyz="-0 0.042 -0.02405" rpy="3.14159 0 -3.14159"/>
    <parent link="leg_2"/>
    <child link="right_foot_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from xl330_2 to leg_2 -->
  <joint name="right_knee" type="revolute">
    <origin xyz="0.022 -0.0357771 -0" rpy="3.14159 0 1.5708"/>
    <parent link="xl330_2"/>
    <child link="leg_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from hip_l to xl330_2 -->
  <joint name="right_hip_pitch" type="revolute">
    <origin xyz="0.02295 0 -0.01655" rpy="1.5708 0 1.5708"/>
    <parent link="hip_l"/>
    <child link="xl330_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from xl330 to hip_l -->
  <joint name="right_hip_roll" type="revolute">
    <origin xyz="0 0.0145 0.01445" rpy="1.5708 0 3.14159"/>
    <parent link="xl330"/>
    <child link="hip_l"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.523599"/>
  </joint>
  <!-- Joint from trunk_base to xl330 -->
  <joint name="right_hip_yaw" type="revolute">
    <origin xyz="0.006 -0.0175 -0.002" rpy="3.14159 -0 1.5708"/>
    <parent link="trunk_base"/>
    <child link="xl330"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.261799"/>
  </joint>
</robot>
